Repository elca-hub/portfolio: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eslint, vitest run --ui --reporter verbose

fix: npm run buildでエラーが発生するのでそのたいしょ
  .lintstagedrc
  app/layout.tsx
  next.config.mjs
  tsconfig.json
Due: prettier --write, eslint --fix, eslint, vitest run --ui --reporter verbose

fix: packageの構成を修正
  package-lock.json
  package.json
Due: none

update: motionパッケージの追加
  package-lock.json
  package.json
Due: none

fix: 呼び出すパッケージを変更
  components/ui/window/ModalWindow.tsx
Due: prettier --write, eslint --fix, eslint, vitest run --ui --reporter verbose

update: 各ページごとにtitleをつけるように変更
  app/_containers/about-me/presentation.tsx
  app/_containers/home/presentation.tsx
  app/_containers/illustrations/presentation.tsx
  components/layout/HeadContent.tsx
Due: prettier --write, eslint --fix, eslint, vitest run --ui --reporter verbose

update: テスト用に用意していたProjectsの項目を削除
  app/_containers/home/container.tsx
Due: prettier --write, eslint --fix, eslint, vitest run --ui --reporter verbose

fix: containerがuse clientになっていたのを修正
  app/_containers/about-me/container.tsx
  app/_containers/home/container.tsx
  app/_containers/home/presentation.tsx
  app/_containers/illustrations/container.tsx
  app/_containers/illustrations/presentation.tsx
  app/layout.tsx
Due: prettier --write, eslint --fix, eslint, vitest run --ui --reporter verbose

style: font-sizeの変更
  app/_containers/home/presentation.tsx
Due: prettier --write, eslint --fix, eslint, vitest run --ui --reporter verbose

update: faviconの変更
  app/favicon.ico
Due: none

update: faviconのエラーを解消
  app/favicon.ico
Due: none

update: favicon.icoをpublicにはいち
  components/layout/HeadContent.tsx
  public/favicon.ico
Due: prettier --write, eslint --fix, eslint, vitest run --ui --reporter verbose

fix: appによってHomeのtitleが上書きされる現象を修正
  app/_containers/about-me/container.tsx
  app/_containers/about-me/presentation.tsx
  app/_containers/illustrations/container.tsx
Due: prettier --write, eslint --fix, eslint, vitest run --ui --reporter verbose

add: sitemapの追加
  app/sitemap.ts
Due: prettier --write, eslint --fix, eslint, vitest run --ui --reporter verbose

add: robotsを追加
  app/robots.ts
Due: prettier --write, eslint --fix, eslint, vitest run --ui --reporter verbose

add: manifestの追加
  app/manifest.ts
Due: prettier --write, eslint --fix, eslint, vitest run --ui --reporter verbose

chore: 関数名の修正
  app/illustrations/page.tsx
Due: prettier --write, eslint --fix, eslint, vitest run --ui --reporter verbose

add: works Appを追加
  app/_containers/works/container.tsx
  app/_containers/works/content.tsx
  app/_containers/works/presentation.tsx
  app/works/page.tsx
Due: prettier --write, eslint --fix, eslint, vitest run --ui --reporter verbose

add: appsにworksを登録
  app/_containers/home/container.tsx
Due: prettier --write, eslint --fix, eslint, vitest run --ui --reporter verbose

update: workの詳細をクリックするとmodalになり、hard-reloadするとページになるように変更
  app/@modal/(.)works/[projectName]/page.tsx
  app/@modal/(.)works/default.tsx
  app/@modal/default.tsx
  app/_containers/works/content.tsx
  app/layout.tsx
  app/works/[projectName]/page.tsx
  components/ui/window/ModalWindow.tsx
  package-lock.json
  package.json
  public/works/tree/README.md
  public/works/tree/title.png
  public/works/tree/title.webp
Due: prettier --write, eslint --fix, eslint, vitest run --ui --reporter verbose

style: text-whiteを追加
  app/@modal/(.)works/[projectName]/page.tsx
Due: prettier --write, eslint --fix, eslint, vitest run --ui --reporter verbose

refactor: readmeの取得をserver actionで取得するように修正
  action/works/fetchReadme.ts
  app/_containers/works/project/container.tsx
  app/_containers/works/project/preesntation.tsx
  app/works/[projectName]/page.tsx
Due: prettier --write, eslint --fix, eslint, vitest run --ui --reporter verbose

remove: 不要なdefault.tsxを削除
  app/@modal/(.)works/default.tsx
Due: prettier --write, eslint --fix, eslint, vitest run --ui --reporter verbose

refactor: モーダルに対してもactionを使ったレンダリング方法に変更
  action/works/fetchReadme.ts
  app/@modal/(.)works/[projectName]/page.tsx
  app/_containers/works/project/container.tsx
  app/_containers/works/project/modalPresentation.tsx
  app/_containers/works/project/presentation.tsx
Due: prettier --write, eslint --fix, eslint, vitest run --ui --reporter verbose

refactor: readmeをserver sideでコンバートするように修正
  app/_containers/works/project/container.tsx
  app/_containers/works/project/modalPresentation.tsx
  app/_containers/works/project/presentation.tsx
Due: prettier --write, eslint --fix, eslint, vitest run --ui --reporter verbose

refactor: いい感じにUIを調整
  app/_containers/works/project/container.tsx
  components/layout/markdown/CustomMarkdown.tsx
  components/layout/markdown/defaultComponents.tsx
  components/layout/markdown/types.ts
  package-lock.json
  package.json
Due: prettier --write, eslint --fix, eslint, vitest run --ui --reporter verbose

fix: windowの場合常にスクロールが表示される現象を解消
  components/ui/window/Window.tsx
Due: prettier --write, eslint --fix, eslint, vitest run --ui --reporter verbose

remove: 不要なpngファイルの削除
  public/works/tree/title.png
Due: none

style: スクロールバーのレイアウト
  app/globals.css
Due: prettier --write

add: treeのgithubURLを追加
  app/_containers/works/content.tsx
Due: prettier --write, eslint --fix, eslint, vitest run --ui --reporter verbose

style: modalの最大画面高さを指定
  components/ui/window/ModalWindow.tsx
Due: prettier --write, eslint --fix, eslint, vitest run --ui --reporter verbose

style: 画像幅を調整
  components/layout/markdown/defaultComponents.tsx
Due: prettier --write, eslint --fix, eslint, vitest run --ui --reporter verbose

update: treeの内容を充実
  public/works/tree/README.md
  public/works/tree/aimai.png
  public/works/tree/book-details.png
  public/works/tree/management.png
Due: none

fix: イラストの詳細ボタンが効かなくなったバグを修正
  app/_containers/illustrations/content.tsx
Due: prettier --write, eslint --fix, eslint, vitest run --ui --reporter verbose

style: ズームするとウインドウの幅を超えるので若干右に避けるように修正
  components/ui/window/WindowButtons.tsx
Due: prettier --write, eslint --fix, eslint, vitest run --ui --reporter verbose

add: あーぷっとの記事を追加
  public/works/arput/README.md
  public/works/arput/title.webp
Due: none

style: work間のgapを変更
  app/_containers/works/content.tsx
Due: prettier --write, eslint --fix, eslint, vitest run --ui --reporter verbose

style: buttonをcomponent化
  app/_containers/works/content.tsx
  components/ui/button/PFButton.tsx
Due: prettier --write, eslint --fix, eslint, vitest run --ui --reporter verbose

update: sitemapの更新
  app/sitemap.ts
Due: prettier --write, eslint --fix, eslint, vitest run --ui --reporter verbose

add: sakitoインフラ移行の記事を追加
  app/_containers/works/content.tsx
  components/layout/markdown/defaultComponents.tsx
  public/works/sakito-infra/README.md
  public/works/sakito-infra/title.webp
Due: prettier --write, eslint --fix, eslint, vitest run --ui --reporter verbose

update: 冒頭のqiita宣伝文章を太文字に変更
  public/works/sakito-infra/README.md
Due: none

Path conditions:
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.css)
  eslint --fix: any of: *.{ts,tsx}
  eslint: any of: *.{ts,tsx}
  vitest run --ui --reporter verbose: any of: *.{ts,tsx}
